
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
error-resetpassword.png
package-lock.json
report.html
tests/
tests-examples/
features/support/credential.json